*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  transition: opacity 0.55s;
}

*:focus {
  outline: none;
  // border: 2px solid var(--main-accent-color);
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $clr-text-dark;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  width: clamp(25ch, 100%, 75ch);
  max-height: 100%;
  line-height: 2;
}
