// COLORS
$clr-primary: #384f52;
$clr-secondary: #d5c190;
$clr-white: #fff;
$clr-text-dark: #5a5a5a;

//FONTS
$font-display: "AphroditeSlim", Garamond, serif;
$font-body: "CrimsonPro", "Brush Script MT", cursive;
