.header {
  border-top: 1rem solid $clr-secondary;
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;
    margin: 2.4rem 0;

    &__list {
      display: flex;
      width: 48rem;
      justify-content: space-around;
    }

    &__logo-link {
      margin: 0 2.4rem;
    }
  }
}
